profiles {

    standard {
    // default
        process.executor = 'local'
    }

    cluster_sge {
        process.executor = 'sge'
    //     process.penv = 'smp'
    //     process.cpus = 20
    //     process.queue = 'public.q'
    //     process.memory = '10GB'
    }

    docker {
    //  process.container = 'image/name'  It is possible to specify a different Docker image for each process definition in your pipeline script.
        docker.enabled = true
    }
}
